html, body {margin:0;height:100%;padding:0;background-color:whitesmoke;}
#introduction {background-color:#263346;position:relative;}
#introduction h1 {font-size:4em;color:white;}
#introduction h2 {
font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
color:#CCE2FF;;
font-weight: normal;
margin: -10px 0 16px 0px;
font-size: 1.75em;
border-bottom: none;
line-height: 1;
}
#footer {background-color:#00b5ae;color:white;}
#footer a{text-decoration:none;color: rgba(255, 255, 255, 0.6);}
#footer a:hover{text-decoration:underline;color:#f5a615;}
#menus {background-color:#6ECFF5;}

#blogs {background-color:white;}
#search_bar {position:absolute; right:20px; bottom: 10px;border:1px solid #999;
padding:4px;height:20px;} 
